version: '3.8'
services:
  db:
    image: pgvector/pgvector:pg16
    container_name: sentinel-db
    environment:
      POSTGRES_USER: sentinel
      POSTGRES_PASSWORD: S&n!t3n3l
      POSTGRES_DB: sentinel_audit
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
